services:
  nzo_d:
    build: .
    restart: always
    env_file: .env
    expose:
      - "9999"
      - "9998"

  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "443:443"
      - "8080:8080"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - nzo_d

volumes:
  caddy_data:
  caddy_config: